{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
{% for message in app.flashes('message') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
<div class="home_news p-3">
    <h1>Les dernières actualités du club</h1>
    <div class="row mt-4">
        <div class="col-md-6">
            <img style='width: 100%' src="{{last_articles[0].image}}" alt="image de l'article {{last_articles[0].title}}"/>
        </div>
        <div class="col-md-6 main_article">
            <h3>{{last_articles[0].title}}</h3>
            <p>{{last_articles[0].resume}}</p>
        </div>
    </div>
    {% for article in last_articles|slice(1) %} 
    <div class="row mt-4">
        <div class="col-md-2">
            <img style='width: 100%' src="{{article.image}}" alt="image de l'article {{article.title}}"/>
        </div>
        <div class="col-md-10">
            <h5>{{article.title}}</h5>
            <p>{{article.resume}}</p>
        </div>
    </div>
    <hr style='color: grey'/>
    {% endfor %}
    <div class="center">
        <button type="button" class="btn btn-primary">
            <a href='/articles' style='color: white'>Voir les articles</a>
        </button>
    </div>
</div>
{% endblock %}