{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}
<div class="row mt-2 mb-4">
    <h1>Administration</h1>
</div> 
<div class="row">
    {{ include('admin/baseAdmin.html.twig') }}

    <div class="col-md-8 white p-4">
        <h2>Gestion des utilisateurs</h2>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Nom d'utilisateur</th>
                    <th scope="col">Email</th>
                    <th scope="col">Rôle</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <th scope="row">{{user.firstname}}</th>
                    <td>{{user.lastname}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        {% for role in user.roles %}
                            <div>
                                {% if role == 'ROLE_ADMIN' %}
                                    Administrateur
                                {% elseif role == 'ROLE_USER' %}
                                    Utilisateur
                                {% endif %}
                            </div>
                        {% endfor %}
                    </td>
                    <td>
                        <a href='/admin/utilisateurs/{{user.id}}/edit'>Editer</a>
                        <a href='/admin/utilisateurs/{{user.id}}/suppr'>Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>

{% endblock %}