{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}

<div class="admin white p-4">
    <h1>Gestion des utilisateurs</h1>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Nom d'utilisateur</th>
                <th scope="col">Email</th>
                <th scope="col">Rôle</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">{{user.firstname}}</th>
                <td>{{user.lastname}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>
                    {% for role in user.roles %}
                        <div>
                            {% if role == 'ROLE_ADMIN' %}
                                Administrateur
                            {% elseif role == 'ROLE_USER' %}
                                Utilisateur
                            {% endif %}
                        </div>
                    {% endfor %}
                </td>
                <td>
                    <a href='/admin/utilisateurs/{{user.id}}/edit'>Editer</a>
                    <a href='/admin/utilisateurs/{{user.id}}/delete'>Supprimer</a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
    
</div>
{% endblock %}