{% extends 'base.html.twig' %}

{% block title %}Gestion des articles{% endblock %}

{% block body %}

<div class="row">
    {{ include('admin/baseAdmin.html.twig') }}

    <div class="col-md-8 white p-4">
        <div class="row white mt-3 p-3">
            <h2>Liste des articles</h2>
            <div class="row p-3 mt-3">
                {% for article in articles %}
                <div class="card mr-2 mt-2" style="width: 18rem;">
                    <img class="card-img-top" src="{{asset(article.image)}}" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">{{article.getTitle()}}</h5>
                    <p class="card-text">{{article.getResume()}}</p>
                    <a href="/admin/articles/{{article.getId()}}" class="btn btn-primary">Voir</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
    
</div>
{% endblock %}